/* Insert your custom theme here */
#description-photo{
	background-image: url(http://joshkerr.s3.amazonaws.com/images/joshkerr-150px);
	width: 150px;
	height: 140px;
	margin-bottom: 20px;
}

#description-photo-box{
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 0 6px 4px #666;
	   -moz-box-shadow: 0 0 6px 4px #666;
	        box-shadow: 0 0 6px 4px #666;
		}
		
#description-text {
	width: 160px;
	font-size: .8em;
	line-height: 1.5em;
	margin-bottom: 20px;
}

#description-tag {
	color: #bbb;
	font-size: .9em;
	width: 190px;
	line-height: 1.0em;
	margin-top: -15px;
	margin-bottom: 20px;
	margin-left: -15px;
}

blockquote{
	border-left-color: red;
}

